header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 125px 0;
  z-index: 4;
}

img {
  height: 32px;
  cursor: pointer;
}

a,
a:visited,
a:hover {
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 125ms color ease-in-out;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 60px;
}
a:hover,
a:active {
  color: #fa2759;
}
a.before:before,
a.after:after {
  content: "";
  transition: 125ms all ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
a.before:before {
  top: -0.25em;
}
a.after:after {
  bottom: -0.25em;
}
a.before:before,
a.after:after {
  height: 5px;
  height: 0.15rem;
  width: 0;
  background: #fa2759;
}
a.third:after,
a.sixth:before,
a.sixth:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
a.before:hover:before,
a.after:hover:after {
  width: 100%;
}
@media (max-width: 1300px) {
  header {
    padding: 1.5rem 6.1rem 0;
  }
}
