<div class="footer-wrap">
  <div class="link-container">
    <a routerLink="/imprint" [scrollTop]="true">Imprint </a> -
    <a routerLink="/legal-notice" [scrollTop]="true"> Legal Notice</a>
  </div>
  <div class="icon-container">
    <a href="https://www.linkedin.com/in/patrick-zimmerer-533918236/">
      <img src="assets/img/linkedin.png" />
    </a>
    <a href="https://github.com/PatrickZimmerer">
      <img src="assets/img/github.png" />
    </a>
    <a href="https://www.xing.com/profile/Patrick_Zimmerer4/portfolio">
      <img src="assets/img/xing.png" />
    </a>
  </div>
</div>
