<div class="about-me-wrap">
  <div class="about-me-container">
    <img data-aos="fade-right" src="assets/img/profileimg.jpg" />
    <span data-aos="fade-left">
      <h2>About me.</h2>
      <p>
        " I'm a sports cars enthusiast and front end developer who loves pushing
        boundaries "
      </p>
    </span>
  </div>
  <div class="my-journey-wrap">
    <div class="my-journey-container">
      <div data-aos="fade-right" class="icon-container">
        <img src="assets/img/walk.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-right">
        <h3>MY JOURNEY BEGAN</h3>
        <p>
          as a product manager in an industrial company. Early on, I got the
          chance to collaborate in multiple IT and digitalization projects.
        </p>
      </span>
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-up" class="icon-container">
        <img src="assets/img/heart.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-up">
        <h3>MY JOURNEY BEGAN</h3>
        <p>
          as a product manager in an industrial company. Early on, I got the
          chance to collaborate in multiple IT and digitalization projects.
        </p></span
      >
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-up" class="icon-container">
        <img src="assets/img/search.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-up">
        <h3>MY JOURNEY BEGAN</h3>
        <p>
          as a product manager in an industrial company. Early on, I got the
          chance to collaborate in multiple IT and digitalization projects.
        </p></span
      >
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-left" class="icon-container">
        <img src="assets/img/flight.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-left">
        <h3>MY JOURNEY BEGAN</h3>
        <p>
          as a product manager in an industrial company. Early on, I got the
          chance to collaborate in multiple IT and digitalization projects.
        </p></span
      >
    </div>
  </div>
</div>
