<div class="about-me-wrap">
  <div class="about-me-container">
    <img data-aos="fade-right" src="assets/img/profileimg.jpg" />
    <span data-aos="fade-left">
      <h2>About me.</h2>
      <p>
        " I'm a sports cars enthusiast and front end developer who loves pushing
        boundaries "
      </p>
    </span>
  </div>
  <div class="my-journey-wrap">
    <div class="my-journey-container">
      <div data-aos="fade-right" class="icon-container">
        <img src="assets/img/walk.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-right">
        <h3>I STARTED</h3>
        <p>
          as a car mechanic in a car rental company, which combined my hobby
          with my job. Early on I realized that your getting payed very bad, so
          I quit and joined my family's business. After 5 years of hard work at
          construction sites and leading some of those, plus working long hours
          6 days a week my brother came up with the idea of getting into tech.
        </p>
      </span>
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-up" class="icon-container">
        <img src="assets/img/search.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-up">
        <h3>MY SEARCH</h3>
        <p>
          after 1 year of research, looking into every coding course in germany
          and reading thousands of reviews, I felt like the Developer Akademie
          was the right place for me. They teach you the essentials you need to
          become a front end developer, aswell as working in a team in your own
          pace and building your own projects.
        </p></span
      >
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-up" class="icon-container">
        <img src="assets/img/heart.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-up">
        <h3>MY PASSION</h3>
        <p>
          was always computers, since I was spending over 90% of my spare time
          playing videogames. I was curious how software is being developed and
          always wanted to be a software developer, but was insecure because of
          the misbelief that you need to be a genius to be able to become a
          programmer. So I took the risk and quit.
        </p></span
      >
    </div>
    <div class="my-journey-container">
      <div data-aos="fade-left" class="icon-container">
        <img src="assets/img/flight.png" class="about-me-icon" />
      </div>
      <span data-aos="fade-left">
        <h3>MY JOURNEY</h3>
        <p>
          in the first month of learning I discovered new sides of myself, since
          I always struggled learning more than 30min a day in school. But when
          I started learning intresting things I was shocked that I was able to
          learn 8+ hours a day without getting bored or tired. That was the
          moment I realized I'm doing the right thing.
        </p></span
      >
    </div>
  </div>
</div>
