<form method="POST">
  <div class="contact-form">
    <div class="form-field-container">
      <p>Name</p>
      <mat-form-field color="accent" data-aos="fade-right" appearance="outline">
        <mat-label>Name</mat-label>
        <input id="name" matInput placeholder="Enter your name" />
      </mat-form-field>
    </div>
    <div class="form-field-container">
      <p>Email Address</p>
      <mat-form-field color="accent" data-aos="fade-left" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          id="e-mail"
          type="email"
          name="email"
          matInput
          placeholder="Enter your Email address"
        />
      </mat-form-field>
    </div>
    <div class="form-field-container">
      <p>Message</p>
      <mat-form-field color="accent" data-aos="fade-right" appearance="outline">
        <mat-label>Message</mat-label>
        <textarea
          id="message"
          name="message"
          matInput
          placeholder="Enter your message"
        ></textarea>
      </mat-form-field>
    </div>
    <button
      (click)="submit()"
      type="submit"
      class="from-center"
      mat-stroked-button
    >
      SUBMIT
    </button>
  </div>
</form>
