<div class="my-work-wrap">
  <h2>My Work</h2>
  <div class="button-bar">
    <button class="from-center" mat-stroked-button>All</button>
    <button class="from-center" mat-stroked-button>Angular</button>
    <button class="from-center" mat-stroked-button>Java Script</button>
  </div>
  <div class="my-work-container">
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
    <div class="my-work-div">
      <img src="assets/img/sharky.png" />
    </div>
  </div>
</div>
