<div class="contact-me-wrap">
  <h2 data-aos="fade-down">CONTACT ME</h2>
  <div class="contact-icons-container">
    <div class="contact-container">
      <mat-icon data-aos="fade-right">location_on</mat-icon>
      <span data-aos="fade-right">
        <h3>Address</h3>
        <a class="contact-link" href="https://goo.gl/maps/6kPWeR8A2Utdpz6q8"
          >93170 Bernhardswald</a
        >
      </span>
    </div>
    <div class="contact-container">
      <mat-icon data-aos="fade-up">phone</mat-icon>
      <span data-aos="fade-up">
        <h3>Direct</h3>
        <a class="contact-link" href="tel:+4917630461434">+49 176 30461434</a>
      </span>
    </div>
    <div class="contact-container">
      <mat-icon data-aos="fade-left">public</mat-icon>
      <span data-aos="fade-left">
        <h3>Web</h3>
        <a class="contact-link" href="http://patrickzimmerer.de/"
          >patrickzimmerer.de</a
        >
      </span>
    </div>
  </div>
  <div class="contact-form-wrap">
    <h3 data-aos="fade-up" class="contact-heading">
      Get in touch via the form below, or by emailing
    </h3>
    <a data-aos="fade-up" href="mailto:patrick.zimmerer1@gmail.com"
      >patrick.zimmerer1<wbr />@gmail.com</a
    >
  </div>
</div>
