<div class="contact-me-wrap">
  <h2 data-aos="fade-down">CONTACT ME</h2>
  <div class="contact-icons-container">
    <div class="contact-container">
      <mat-icon data-aos="fade-right">location_on</mat-icon>
      <span data-aos="fade-right">
        <h3>Address</h3>
        <a href="https://goo.gl/maps/6kPWeR8A2Utdpz6q8">93170 Bernhardswald</a>
      </span>
    </div>
    <div class="contact-container">
      <mat-icon data-aos="fade-up">phone</mat-icon>
      <span data-aos="fade-up">
        <h3>Direct</h3>
        <a href="tel:+4917630461434">+49 176 30461434</a>
      </span>
    </div>
    <div class="contact-container">
      <mat-icon data-aos="fade-left">public</mat-icon>
      <span data-aos="fade-left">
        <h3>Web</h3>
        <a href="http://patrickzimmerer.de/">patrickzimmerer.de</a>
      </span>
    </div>
  </div>
  <div class="contact-form-wrap">
    <h3 data-aos="fade-up" class="contact-heading">
      Get in touch via the form below, or by emailing
    </h3>
    <a data-aos="fade-up" href="mailto:patrick.zimmerer1@gmail.com"
      >patrick.zimmerer1@gmail.com</a
    >
    <div class="contact-form">
      <div class="form-field-container">
        <p>Name</p>
        <mat-form-field
          color="accent"
          data-aos="fade-right"
          appearance="outline"
        >
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your name" />
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <p>Email Address</p>
        <mat-form-field
          color="accent"
          data-aos="fade-left"
          appearance="outline"
        >
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="Enter your Email address" />
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <p>Message</p>
        <mat-form-field
          color="accent"
          data-aos="fade-right"
          appearance="outline"
        >
          <mat-label>Message</mat-label>
          <input matInput placeholder="Enter your message" />
        </mat-form-field>
      </div>
      <button class="from-center" mat-stroked-button>SUBMIT</button>
    </div>
  </div>
</div>
