<app-slideshow></app-slideshow>
<div class="introduction-wrap">
  <div class="introduction-container">
    <div class="developer-container">
      <h1>
        <span class="hover-red"> Hi, </span> <br />
        <span class="hover-red"> I'm </span>
        <p class="red hover-blue">Patrick</p>
        <span class="hover-red"> Zimmerer</span> <br />
        <span class="hover-red"> Front </span>
        <span class="hover-red">End </span>
        <span class="hover-red"
          >Develop
          <p class="p-blue">e</p>
          r
        </span>
      </h1>
    </div>
    <div>
      <div (click)="toContactMe()" class="button2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Contact me
      </div>
    </div>
  </div>
  <div class="img-container">
    <img src="assets/img/profileimg.jpg" />
  </div>
</div>
<div (click)="toMySkills()" class="arrow-wrap">
  <div class="arrow">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<app-skills id="skills"></app-skills>
<app-my-work id="my-work"></app-my-work>
<app-about-me id="about-me"></app-about-me>
<app-contact-me id="contact-me"></app-contact-me>
<app-contact-form></app-contact-form>
<app-footer></app-footer>
