body{
  margin: 0;
  scroll-behavior: smooth;
  background-color: #000000;
  font-family: 'Inter', sans-serif;
}
.bg-gray{
  background-color: #1A1A1A;
}
.blue{
  color: #2DFCD8;
}
.red{
  color: #FA2759;
}
