body {
  margin: 0;
  scroll-behavior: smooth;
  background-color: #1a1a1a;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h2 {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 2.25rem;
}
h3 {
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
}
.bg-gray {
  background-color: #1a1a1a;
}
.blue {
  color: #2dfcd8;
}
.red {
  color: #fa2759;
}
